<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="!editando"><h1>Cadastro Folha de Carga</h1></ion-title>
    <ion-title *ngIf="editando"><h1>Edição Folha de Carga</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
        <ion-item *ngFor="let pedido2 of pedidos2">
          <ion-label>
            <h2 text-wrap>Pedido: {{ pedido2.id }} - {{ pedido2.data | formatDate }} - {{ pedido2.cliente_nome }} </h2>
            <h2><b ion-text color="danger">Total: {{ pedido2.total | number:'1.2-2' }}</b></h2>
          </ion-label>
          <ion-checkbox [checked]="pedido2.checked"  color="secondary" (ionChange)="onChange(pedido2.id, $event.checked)" value="pedido.id"></ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let pedido3 of pedidos3">
          <ion-label>
            <h2 text-wrap>Pedido: {{ pedido3.pedido_id }} - {{ pedido3.data | formatDate }} - {{ pedido3.cliente_nome }} </h2>
            <h2><b ion-text color="danger">Total: {{ pedido3.total | number:'1.2-2' }}</b></h2>
          </ion-label>
          <ion-checkbox [checked]="pedido3.checked"  color="secondary" (ionChange)="onChange(pedido3.pedido_id, $event.checked)" value="pedido.id"></ion-checkbox>
        </ion-item>
  </ion-list>

  <ion-item *ngIf="editando">
    <ion-label>Status</ion-label>
    <ion-select interface="popover" [(ngModel)]="model.status" (ionChange)="changeStatus()">
      <ion-option value="Pendente">Pendente</ion-option>
      <ion-option value="Enviada">Enviada</ion-option>
      <ion-option value="Entregue">Entregue</ion-option>
    </ion-select>
  </ion-item>

  <div padding>
      <button *ngIf="!editando" ion-button color="secondary" block (click)="previewFolhacarga()">Preview Folha de Carga</button>
      <button *ngIf="editando" ion-button color="secondary" block (click)="previewFolhacarga()">Preview Atualização Folha de Carga</button>
    </div>

</ion-content>
