<ion-header>
  <ion-navbar class="energized" color="dark">
    <ion-title *ngIf="!editando"><h1>Cadastro de Produto</h1></ion-title>
    <ion-title *ngIf="editando"><h1>Alteração de Produto</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="myForm">
      <ion-list>
        <ion-item>
            <ion-label floating>Produto</ion-label>
            <ion-input type="text" formControlName="nome_produto"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label floating>Vasilhame</ion-label>
            <ion-select interface="popover" formControlName="vasilhame_id">
                <ion-option *ngFor="let vasilhame of vasilhames" value="{{ vasilhame.id }}">{{ vasilhame.nome}}</ion-option>
            </ion-select>
            <button ion-button color="dark" item-end >
                <ion-icon name="add" (click)="addVasilhame()"></ion-icon>
            </button>
        </ion-item>

        <ion-item>
            <ion-label floating>Unidade</ion-label>
            <ion-select interface="popover" formControlName="unidade_venda_id">
                <ion-option *ngFor="let unidade_venda of unidades_venda" value="{{ unidade_venda.id }}">{{ unidade_venda.nome}}</ion-option>
            </ion-select>
            <button ion-button color="dark" item-end >
                <ion-icon name="add" (click)="addUnidade()"></ion-icon>
            </button>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Preço</ion-label>
            <ion-input type="tel"
                       formControlName="preco" 
                       name="preco"  
                       [brmasker]="{money: true, type: 'num', thousand: '.', decimalCaracter: ',', decimal: '2'}"></ion-input>
        </ion-item>
            
        <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-checkbox color="dark" formControlName="ativo"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label floating>Observação</ion-label>
            <ion-input type="text" formControlName="observacao"></ion-input>
        </ion-item>  

    </ion-list>

    <div padding>
        <button *ngIf="!editando" ion-button color="dark" block (click)="save()">Adicionar</button>
        <br>
        <button *ngIf="editando" ion-button color="dark" block (click)="save()">Atualizar</button>
    </div>
  </form>	
</ion-content>