<ion-header>
  <ion-navbar color="primary">
    <ion-title><h1>Pedidos Cliente - {{qtd_pedidos}}</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item text-center><h1 text-wrap>{{ cliente.nome }}</h1> </ion-item>
    <ion-item-sliding *ngFor="let pedido of pedidos">
      <button ion-item (click)="showPedido(pedido.id)">
        <ion-icon name="information-circle" item-start *ngIf="pedido.status == 'Pendente' " style="color:red;"></ion-icon>
        <ion-icon name="checkmark-circle" item-start *ngIf="pedido.status == 'Alocado' " style="color:blue;"></ion-icon>
        <ion-icon name="lock" item-start *ngIf="pedido.status == 'Entregue' " style="color:green;"></ion-icon>
        
        <ion-icon name="md-checkbox-outline" item-start *ngIf="pedido.pago == 1" style="color:green;"></ion-icon>

        <h1 text-wrap>Pedido: {{ pedido.id }}</h1>
        <h2 text-wrap>{{ pedido.data | formatDate }} </h2>
        <h2><b ion-text color="danger">Total: {{ soma(pedido.total, pedido.valor_adicional) | number:'1.2-2' }}</b></h2>
      </button>
      <ion-item-options side="left">
          <button ion-button color="danger" (click)="removePedido(pedido)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editPedido(pedido.id)">
            <ion-icon name="document"></ion-icon>
            Editar
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

