<ion-header>
  <ion-navbar color="danger">
    <ion-title *ngIf="!editando"><h1>Cadastro de Cliente</h1></ion-title>
    <ion-title *ngIf="editando"><h1>Alteração de Cliente</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="myForm">
		<ion-list>
			<ion-item>
				<ion-label floating>Nome</ion-label>
				<ion-input type="text" formControlName="nome"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Código</ion-label>
				<ion-input type="number" formControlName="codigo"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Telefone</ion-label>
				<ion-input type="tel" formControlName="fone"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Celular</ion-label>
				<ion-input type="tel" formControlName="celular"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Endereço</ion-label>
				<ion-input type="text" formControlName="endereco"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Bairro</ion-label>
				<ion-input type="text" formControlName="bairro"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Cidade</ion-label>
				<ion-input type="text" formControlName="cidade"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>CNPJ/MF</ion-label>
				<ion-input type="text" formControlName="cnpj"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>Inscrição Estadual</ion-label>
				<ion-input type="text" formControlName="inscricao_est"></ion-input>
			</ion-item>	  
		</ion-list>

		<div padding>
			<button [disabled]="myForm.invalid" *ngIf="!editando" ion-button color="danger" block (click)="save()">Adicionar</button>
			<button [disabled]="myForm.invalid" *ngIf="editando" ion-button color="danger" block (click)="save()">Atualizar</button>
		</div>
  </form>
	
</ion-content>
