<ion-header>
  <ion-navbar>
		<ion-title *ngIf="!editando">Cadastro Pedido - {{ model.id }}</ion-title>
    <ion-title *ngIf="editando">Alteração Pedido - {{ model.id }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
	    <ion-item>
		  <ion-label floating>Cliente</ion-label>
		  <ion-select interface="popover" name="cliente_id" [(ngModel)]="model.cliente_id">
	        <ion-option *ngFor="let cliente of clientes" value="{{ cliente.id }}">{{ cliente.nome}}</ion-option>
	      </ion-select>
	    </ion-item>

	    <ion-item>
		  <ion-label floating>Data</ion-label>
		  <!-- <ion-input type="datetime-local" [(ngModel)]="model.data"></ion-input> --> 
		  <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" [(ngModel)]="model.data"></ion-datetime>
	    </ion-item>
	</ion-list>
    <hr>
	<ion-list>
    <ion-item>
		  <h1>Produtos</h1>
	  </ion-item>
		<ion-item-sliding *ngFor="let item of itens">
	      <button ion-item>
	        <h2>{{ item.nome_produto }} - {{ item.quantidade }} - R$ {{ item.valor_unitario }}</h2>
	      </button>
	      <ion-item-options side="left">
	        <button ion-button color="danger" (click)="removeProduto(item)">
	          <ion-icon name="trash"></ion-icon>
	          Excluir
	        </button>
	      </ion-item-options>
	    </ion-item-sliding>
	</ion-list>

	<ion-list>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<ion-item-group margin-bottom>
							<ion-item>
								<select-searchable
									[(ngModel)]="model_produto"
									itemValueField="id"
									itemTextField="nome_produto"
									[items]="produtos"
									[canSearch]="true"
									(onChange)="produtoChange($event)">
									<ng-template floating selectSearchableLabelTemplate >
										Item
									</ng-template>
								</select-searchable>
							</ion-item>
						</ion-item-group>
				</ion-col>
			</ion-row>
		  <!-- <ion-row>
		    <ion-col col-12>
			    <ion-item>
					<ion-label floating>Item</ion-label>
					<ion-select interface="popover" name="id" [(ngModel)]="model_item_pedido.produto_id" (ionChange)="onSelectChange($event);">
				      <ion-option *ngFor="let produto of produtos" value="{{ produto.id }}">{{ produto.nome_produto }}</ion-option>
				    </ion-select>
			    </ion-item>
				</ion-col>
			</ion-row> -->
			<ion-row>
		    <ion-col col-6>	    
			    <ion-item>
				    <ion-label floating>Quantidade</ion-label>
				    <ion-input type="number" [(ngModel)]="model_item_pedido.quantidade"></ion-input>
			    </ion-item>
        </ion-col>
        <ion-col col-6>	    
			    <ion-item>
				    <ion-label floating>Preço</ion-label>
				    <ion-input type="number" [(ngModel)]="model_item_pedido.valor_unitario"></ion-input>
			    </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 offset-2>
          <button ion-button block (click)="addItem()" >Adicionar Produto</button>
        </ion-col>
      </ion-row>
    </ion-grid>
	</ion-list>
    <hr>
	<div padding>
    <button *ngIf="!editando" ion-button block (click)="save()">Criar Pedido</button>
    <button *ngIf="editando" ion-button block (click)="save()">Atualizar Pedido</button>
	  <button ion-button color="light" block (click)="cancelar()" >Cancelar</button>
  </div>


</ion-content>
