<ion-header>
  <ion-navbar color="primary">
		<ion-title *ngIf="!editando"><h1>Cadastro de Pedido</h1></ion-title>
    <ion-title *ngIf="editando"><h1>Pedido - {{ model.id }}</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
			<ion-item>
					<ion-label>Cliente: </ion-label>
					<ion-input [disabled]="true" type="text" [(ngModel)]="model_cliente.nome" required></ion-input>
					<button ion-button large clear (click)="getListCliente()" item-end>
						<ion-icon name="search"></ion-icon>
					</button>
			</ion-item>
	    <ion-item>
		    <ion-label>Data:</ion-label>
		    <!-- <ion-input type="datetime-local" [(ngModel)]="model.data"></ion-input> --> 
			  <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" [(ngModel)]="model.data"></ion-datetime>
			</ion-item>
	</ion-list>
    <!-- <hr> -->
	<ion-list>
			<ion-item-divider color="primary"><h1>Produtos</h1>
				<button ion-button large clear (click)="addItens()" item-end>
						<ion-icon color="light" name="md-add"></ion-icon>
				</button>
				<button ion-button large clear (click)="hideList()" item-end>
					<ion-icon *ngIf="!isHide" color="light" name="ios-arrow-down-outline"></ion-icon>
					<ion-icon *ngIf="isHide" color="light" name="ios-arrow-up-outline"></ion-icon>
			  </button>
			</ion-item-divider>	
		  <ion-item-sliding [hidden]="isHide" *ngFor="let item of itens">
	      <button ion-item>
					<h2>{{ item.nome_produto }}</h2>
					<h2>Quant.: <b ion-text color="danger">{{ item.quantidade }}</b>
						  Valor: <b ion-text color="danger">{{ item.valor_unitario| number:'1.2-2' }}</b>
						  Total: <b ion-text color="danger">{{ item.quantidade * item.valor_unitario | number:'1.2-2' }}</b>
					</h2>
	      </button>
	      <ion-item-options side="left">
	        <button ion-button color="danger" (click)="removeProduto(item)">
	          <ion-icon name="trash"></ion-icon>
	          Excluir
	        </button>
	      </ion-item-options>
			</ion-item-sliding>
			<ion-item>
				<h2>Total: {{ total | number:'1.2-2'}} </h2>
				<!-- <h2>A/D: {{model.valor_adicional | number:'1.2-2'}} </h2> -->
				<h2>A/D: {{ ad }} </h2>
				<h2>Total geral: {{ total_geral | number:'1.2-2'}} </h2>
			</ion-item>
	</ion-list>

  <!-- <hr> -->

	<!-- <form [formGroup]="form" (submit)="submit($event)"> -->
	<form [formGroup]="form">
		<ion-item>
			<ion-label>A/D:</ion-label>
			<ion-input type="tel" 
								 formControlName="ad" 
								 (ionBlur)="changeAd()"
								 [value]="form.get('ad').value" 
								 name="ad" 
								 placeholder="0,00"  
								 [brmasker]="{money: true, type: 'num', thousand: '.', decimalCaracter: ',', decimal: '2'}"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Valor Pago:</ion-label>
			<ion-input type="tel"
								 formControlName="valor_pago" 
								 (ionBlur)="changeValorPago()"
								 [value]="form.get('valor_pago').value" 
								 name="valor_pago" 
								 placeholder="0,00"  
								 [brmasker]="{money: true, type: 'num', thousand: '.', decimalCaracter: ',', decimal: '2'}"></ion-input>
		</ion-item>
		<ion-item no-lines>
			<ion-label>Pago</ion-label>
			<ion-checkbox color="primary" formControlName="pago" [disabled]="form.get('avista').value"></ion-checkbox>
		</ion-item>
		<ion-item no-lines>
			<ion-label>Cobrar na Entrega</ion-label>
			<ion-checkbox color="primary" formControlName="avista" [disabled]="form.get('pago').value"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label>Observação:</ion-label>
			<ion-input type="text" formControlName="observacao"></ion-input>
		</ion-item>
<!-- 		<ion-row>
			<ion-col col-10>
					<ion-item no-lines>
							<ion-label>Ativo</ion-label>
							<ion-checkbox color="dark" formControlName="ativo"></ion-checkbox>
					</ion-item>
			</ion-col>
	</ion-row> -->

		<div padding>
				<button *ngIf="!editando" ion-button block (click)="save()">Criar Pedido</button>
				<button *ngIf="editando" ion-button block (click)="save()">Atualizar Pedido</button>
			</div>

	</form>

</ion-content>
