page-cadastro-pedido {

}

hr {
  //border: 2px solid red !important;
  height: 3px !important;
  width: auto !important;
  background: blue !important;
  display: block !important;
  font-size: 2em !important;
  visibility: visible !important;
}
