<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="!isShow" ><h1>Preview da Folha de Carga</h1></ion-title>
    <ion-title *ngIf="isShow"><h1>Folha de Carga</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ion-row>
    <div ion-col-12>
      <h2>Folha Carga: <b ion-text color="primary">{{model.id}}</b></h2>
      <h2>Pedidos: <b ion-text color="primary">{{ pedidos }}</b></h2>
      <h2>Status: <b ion-text color="primary">{{ model.status }}</b></h2>
    </div>
  </div>
  <div ion-row>
    <h2>Produtos:</h2>
    <ion-list>
      <ion-item *ngFor="let item of itens">
        <h2 ion-text color="danger">{{ item.nome_produto }}</h2>
        <h2>Quant.: <b ion-text color="danger">{{ item.quantidade }} </b>
            Total: <b ion-text color="danger">{{ item.valor | number:'1.2-2' }}</b>
        </h2>
      </ion-item>  
      <ion-item>
        <h2>Total: <b ion-text color="danger">{{ total_geral | number:'1.2-2' }}</b></h2>
      </ion-item>
    </ion-list>
  </div>
  <button *ngIf="!editando && !isShow" ion-button color="secondary" full (click)="save()">Criar Folha de Carga</button>
  <button *ngIf="editando && !isShow" ion-button color="secondary" block (click)="save()">Alterar Folha de Carga</button>
  <button *ngIf="isShow" ion-button full (click)="createPdf()">Gerar PDF</button>
  <br>
  <button *ngIf="isShow" ion-button full (click)="viewPdf()" color="secundary" [disabled]="!pdfObj">Visualizar PDF</button>
</ion-content>
