<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="!isShow" ><h1>Preview da Folha de Carga</h1></ion-title>
    <ion-title *ngIf="isShow"><h1>Folha de Carga</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ion-row>
    <div ion-col-12>
      <h2>Folha Carga: <b ion-text color="primary">{{model.id}}</b></h2>
      <h2>Pedidos: <b ion-text color="primary">{{ pedidos }}</b></h2>
      <h2>Status: <b ion-text color="primary">{{ model.status }}</b></h2>
      <h2>Produtos:</h2>
    </div>
  </div>
  <div ion-row>
    <ion-list>
      <ion-item *ngFor="let item of itens">
        <span ion-text text-wrap color="danger">{{ item.nome_produto }} </span>
        <!-- <h2 text-wrap ion-text color="danger">{{ item.nome_produto }}</h2> -->
        <h2 text-wrap>Quant.: <b ion-text color="danger">{{ item.quantidade }} </b>
            Total: <b ion-text color="danger">{{ item.valor | number:'1.2-2' }}</b>
        </h2>
      </ion-item>
      <ion-item *ngFor="let pedido of pedidos2" no-lines>
        <span ion-text text-wrap><b>Pedido {{pedido.id}} - {{pedido.observacao}}</b></span>
        <!-- <h2>Pedido {{pedido.id}} - {{pedido.observacao}}</h2> -->
      </ion-item>
      <ion-item>
        <span ion-text><b>Total:</b> <b ion-text color="danger">{{ total_geral | number:'1.2-2' }}</b></span><br>
        <span ion-text><b>Desc:</b> <b ion-text color="danger">{{ total_geral - total_geral_padrao | number:'1.2-2' }}</b></span>
        <!-- <h2>Total: <b ion-text color="danger">{{ total_geral | number:'1.2-2' }}</b></h2>
        <h2>Desc: <b ion-text color="danger">{{ total_geral - total_geral_padrao | number:'1.2-2' }}</b></h2> -->
      </ion-item>
    </ion-list>
  </div>
  <button *ngIf="!editando && !isShow" ion-button color="secondary" full (click)="save()">Criar Folha de Carga</button>
  <button *ngIf="editando && !isShow" ion-button color="secondary" block (click)="save()">Alterar Folha de Carga</button>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button *ngIf="isShow" ion-button full (click)="createPdf()">Gerar PDF</button>
      </ion-col>
      <ion-col col-6>
        <button *ngIf="isShow" ion-button full (click)="viewPdf()" color="secundary" [disabled]="!pdfObj">Ver PDF</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <button *ngIf="isShow" ion-button full (click)="createPdf()">Gerar PDF</button> -->

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button *ngIf="isShow" ion-button full (click)="gerarCsv()" color="secundary">Gerar CSV</button>
      </ion-col>
      <ion-col col-6>
        <!-- <button *ngIf="isShow" ion-button full (click)="viewCsv()" color="secundary" [disabled]="!blobCsv">Ver CSV</button> -->
        <button *ngIf="isShow" ion-button full (click)="sendEmail()" color="secundary" [disabled]="!hasCsv">Enviar</button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <button *ngIf="isShow" ion-button full (click)="viewPdf()" color="secundary" [disabled]="!pdfObj">Visualizar PDF</button> -->
  <!-- <br>
  <button *ngIf="isShow" ion-button full (click)="gerarCsv()" color="secundary">Gerar CSV</button> -->
  
</ion-content>
