<ion-header>
  <ion-navbar color="primary">
    <ion-title><h1>Lista de Pedidos</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar autocomplete="on" (ionInput)="getPedidos($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let pedido of pedidos2">
      <button ion-item (click)="showPedido(pedido.id)">
        <ion-icon name="information-circle" item-start *ngIf="pedido.status == 'Pendente' " style="color:red;"></ion-icon>
        <ion-icon name="checkmark-circle" item-start *ngIf="pedido.status == 'Alocado' " style="color:blue;"></ion-icon>
        <ion-icon name="lock" item-start *ngIf="pedido.status == 'Entregue' " style="color:green;"></ion-icon>

        <h1>Pedido: {{ pedido.id }} - {{ pedido.data | formatDate }} </h1>
        <h2>{{ pedido.cliente_nome }}</h2>
        <h2><b ion-text color="danger">
               Total: {{ pedido.total | number:'1.2-2' }} 
               <!-- <ion-icon name="md-arrow-forward"></ion-icon> 
               <span *ngIf="pedido.status == 'Pendente' " style="background-color:red;color:white;">{{ pedido.status }}</span>
               <span *ngIf="pedido.status == 'Alocado' " style="background-color:blue;color:white;">{{ pedido.status }}</span>
               <span *ngIf="pedido.status == 'Entregue' " style="background-color:green;color:white;">{{ pedido.status }}</span> -->
            </b>
        </h2>
      </button>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="removePedido(pedido)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editPedido(pedido.id)">
          <ion-icon name="document"></ion-icon>
          Editar
        </button>
        <!-- <button ion-button color="secondary" (click)="enviaPedido(pedido.id)">
          <ion-icon name="document"></ion-icon>
          Enviar
        </button> -->
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  
  <!-- <button ion-button color="light" block (click)="cancelar()" >Voltar</button> -->
 
  <ion-fab right bottom>
    <button ion-fab color="blue" (click)="addPedido()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
